body {
	background-image: url("cards.png");
	background-color: white;
}
div {
	width: 600px;
	height: 470px;
	padding: 10px;
	background-color: white;
	box-shadow: 10px 10px;
	font-size: 38px;
	position:absolute;
	left: 10%;
	top: 10%;
	
}
.picture{
	
	 border-radius: 30%;	
}
